<h1>Biblioteca do senhor Juvenal</h1>

<ul>
<h3> Escolha uma das opções do menu ao lado </h3>
<h3> ╔══════════════════════════════════════════════════════════════════════╗ </h3>
<h4>. “Uma mente necessita de livros da mesma forma que uma espada necessita de uma pedra de amolar se quisermos que se mantenha afiada” George R. R. Martin</h4>
<h3> ╚══════════════════════════════════════════════════════════════════════╝ </h3>