<p id="notice"><%= notice %></p>

<%= search_form_for @q do |f| %>

  <%= f.label :title_cont, "Pesquisa (Livro ou Autor):" %>
  </br>
  <%= f.search_field :name_or_author_name_cont %>
  <%= f.submit :class => "btn btn-success" %>

<% end %>


<h1>Books</h1>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stock</th>
      <th>Author</th>
      <th>Categorie</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.stock %></td>
        <td><%= book.author.name %></td>
        <td><%= book.categorie.name %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
