<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/assets/user.png" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info">
      <%if user_signed_in?%>
        <p><%=current_user.email%></p>
      <%end%>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">MENU</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><%= link_to "Reservas", reservations_path %></li>
        <li class="active"><%= link_to "Clientes", clients_path %></li>
        <li class="active"><%= link_to "Livros", books_path %></li>
        <li class="active"><%= link_to "Autores", authors_path %></li>
        <li class="active"><%= link_to "Categorias", categories_path %></li>
        <li class="active"><%= link_to "Bibliotecários", librarians_path %></li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
